.search-container {
    display: flex;
    flex-flow: column wrap;
    align-self: center;
    align-content: center;
    h3 {
        color: white;
        font-family: @main-font;
    }
}
.search-form {
    display: flex;
    width: 20%;
    height: 10%;

    .search {
        display: flex;
        align-self: center;
        border: 1px solid grey;
    }
}
